.registration {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.userinput {
    width: 200px;
}
.pswinput {
    width: 200px;
}
.emailinput {
    width: 200px;
}

.submitbutton {
    width: 60px;
    justify-content: center;
    display: flex;
    align-self: center;
}

.container_full{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-width: 10px;
    border-color: white;
    width: 500px;
    height: 290px;
    justify-self: center;
    border-radius: 20px;
}